@{ ViewData["Title"] = "Kanban Core"; }

<div ng-controller="IndexCtrl as index" ng-init="index.init()">
    <h4><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Tableaux personnels</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 kbc-col" ng-repeat="table in index.KbcList"><a class="btn btn-primary btn-lg  kbc-item">{{table.title}}</a></div>
            <div class="col-md-3"><a>Créer un tableau...</a></div>
            <div class="col-md-3">Tableau 3</div>
            <div class="col-md-3">Tableau 4</div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>