<div class="kbc-menu panel panel-default" ng-class="{hide: header.showKBCList }" ng-init="header.initMenu()" >
  <div class="panel-body">
    <h5><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Tableaux personnels</h5>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-info" ng-repeat="table in header.KBCList">{{table.title}}</a>
    </div>
  </div>
</div>