@{ ViewData["Title"] = "Coucou"; ViewData["container-type"] = "container-fluid"; }
<div ng-controller="BoardCtrl as board" ng-init="board.init()">
    <div board>
        <div class="kbclist" ng-repeat="boardList in board.boardLists" board-list new-position-fn="board.changePosition(position)">
            <div class="kbc-list-card">
                <div class="kbc-list-title">
                    {{ boardList.boardName }}
                </div>
                <div class="kbclist-content">
                    <div id="panel{{boardItem.boardItemID}}" class="panel panel-default kbc-board-list" ng-repeat="boardItem in boardList.items" board-item
                        board-item-move="moveItem" board-index="$index">
                        <div class="panel-body">
                            {{ boardItem.title }}
                        </div>
                    </div>
                </div>
                <div class="kbc-add-card">
                    Ajouter une carte...
                </div>
            </div>
        </div>
    </div>
</div>