@{ ViewData["Title"] = "Coucou"; ViewData["container-type"] = "container-fluid"; }
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

var mouseX, mouseY;
var tempX = 0;
var tempY = 0;
var id = null;
$(document).ready(function () {
    $(document).mousemove(function (e) {
        var bodyOffsets = document.body.getBoundingClientRect();
        tempX = e.pageX - bodyOffsets.left;
        tempY = e.pageY;
    });

}) 
function targetElement(height, classValue)
{
    return "<div id='kbcCurrent' class=' panel panel-default kbc-board-list " + classValue + "' style='height:" + height + "px;background-color: silver;'>coucou bottom</div>";
}
function allowDrop(ev) {
    ev.preventDefault();
    if ($(ev.target).closest(".kbclist-content").size() == 0) {
        var data = ev.dataTransfer.getData("text");

        var height = $(document.getElementById(data)).height();
        if ($(ev.target).closest(".kbclist").children(".kbclist-content").children(".kbc-board-list-bottom").size() == 0)
        {
            $("#kbcCurrent").remove();
            $(ev.target).closest(".kbclist").children(".kbclist-content").append(targetElement(height, "kbc-board-list-bottom"));
        }
    }
}
function replaceIcon(ev){
    var id = ev.dataTransfer.getData("text");
     
    if(id) {
        $(document.getElementById(id)).css("position","fixed");
        $(document.getElementById(id)).css("top", ev.pageY  + "px");
        $(document.getElementById(id)).css("left",ev.pageX + "px");
    }
}
function drag(ev) {   
    ev.dataTransfer.setData("text", ev.target.id);
    var data = ev.dataTransfer.getData("text");
    var height = $(document.getElementById(data)).height();
    $(ev.target).css("position","fixed");
    $(ev.target).before(targetElement(height));
    ev.dataTransfer.setDragImage(new Image(), 10, 10);   
}
function leave(ev) {
    $("#kbcCurrent").remove();
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("position","static");
}
function drop(ev) { 
    currentReplace = -1;
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("position","static");
    $("#kbcCurrent").replaceWith(document.getElementById(data));
}
var currentReplace = -1;
function replace(ev) {
    var position = $(ev.target).closest(".kbc-board-list").prevAll().size();
    var data = ev.dataTransfer.getData("text"); 
    // console.log("id :" + ev.target.id);
    // console.log("id calc :" + $(ev.target).closest(".kbc-board-list").attr("id"));
    
    if ($(ev.target).closest(".kbc-board-list").attr("id") != $(document.getElementById(data)).attr("id")) {
        if (currentReplace != position)
        {
            currentReplace = position;
            console.log("replace : " + currentReplace);
            console.log("replace : " + ev.target.className);
            $("#kbcCurrent").remove(); 
            var height = $(document.getElementById(data)).height();
            $(ev.target).closest(".kbc-board-list").before(targetElement(height));

        }
    }
}
</script>
<script type="text/ng-template" id="temp1.html">
   ... some template stuff
</script>
<!--
<div ng-controller="BoardCtrl as board">
    <div ng-repeat="boardList in board.boardLists" board-list>
        <h1>{{ boardList.title }}</h1>
        <div>
            <div ng-repeat="boardItem in boardList.items" board-item>
                {{ boardItem.title }}
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/> -->
<div ng-controller="IndexCtrl as index" ng-init="index.init()" class="kbc-board" ondragover="replaceIcon(event)">
    <h4><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Tableaux personnels</h4>
    <div class="container-fluid">
        <div class="kbclist" style="width: 350px; height: 500px;border: 1px solid black;float:left" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="kbclist-content" style="float:left;background-color:silver">
                <div id="panel1" class="panel panel-default kbc-board-list" draggable="true" ondragstart="drag(event)" ondragover="replace(event)"
                    ondragend="leave(event)">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                COucou 1
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panel3" class="panel panel-default kbc-board-list" draggable="true" ondragstart="drag(event)" ondragover="replace(event)"
                    ondragend="leave(event)">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                COucou 2
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panel6" class="panel panel-default kbc-board-list" draggable="true" ondragstart="drag(event)" ondragover="replace(event)"
                    ondragend="leave(event)">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                COucou 3
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div id="" class="panel panel-default kbc-board-list" style="height:400px" draggable="false" ondragstart="drag(event)"
                ondragover="replace(event)" ondragend="leave(event)">

            </div> -->
        </div>
        <div class="kbclist" style="width: 350px; height: 500px;border: 1px solid black;float:left" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="kbclist-content" style="float:left">
                <div id="panel5" class="panel panel-default kbc-board-list" draggable="false" ondragstart="drag(event)" ondragover="replace(event)"
                    ondragend="leave(event)">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--    <div id="" class="panel panel-default kbc-board-list" style="height:400px" draggable="false" ondragstart="drag(event)"
                ondragover="replace(event)" ondragend="leave(event)">

            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>