@{ ViewData["Title"] = "Coucou"; ViewData["container-type"] = "container-fluid"; }
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
function allowDrop(ev) {
    
        $(ev.target).closest(".kbc-board-list").css("background-color", "red");
       ev.preventDefault();
}
var mouseX, mouseY;
var tempX = 0;
var tempY = 0;
var id = null;
$(document).ready(function () {
    $(document).mousemove(function (e) {
        var bodyOffsets = document.body.getBoundingClientRect();
        tempX = e.pageX - bodyOffsets.left;
        tempY = e.pageY;
    });

}) 
function replaceIcon(ev){
    if(id) {
        $(document.getElementById(id)).css("position","fixed");
        $(document.getElementById(id)).css("top", ev.pageY  + "px");
        $(document.getElementById(id)).css("left",ev.pageX + "px");
    }
}
function drag(ev) {   
    ev.dataTransfer.setData("text", ev.target.id);
    var data = ev.dataTransfer.getData("text");
    id = data;
    var height = $(document.getElementById(data)).height();
    $(ev.target).css("position","fixed");
    $(ev.target).before("<div id='kbcCurrent' class='panel panel-default kbc-board-list' style='height:" + height + "px;background-color: silver;'>coucou</div>");
    var img = new Image(); 
    img.src = ''; 
    ev.dataTransfer.setDragImage(img, 10, 10);   
}
function leave(ev) {
    $("#kbcCurrent").remove();
    hasCurrent = false;
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("position","static");
}
function drop(ev) { 
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("display","block");
    $(document.getElementById(data)).css("position","static");
    $(ev.target).closest(".kbc-board-list").before(document.getElementById(data));
    $("#kbcCurrent").remove();
    hasCurrent = false;
    ev.target.id = null;
    id = null;
}
var hasCurrent = false;

function replace(ev) {
    var data = ev.dataTransfer.getData("text");  
    if ($(ev.target).closest(".kbc-board-list").attr("id") != $(document.getElementById(data)).attr("id")) {
        $("#kbcCurrent").remove();
        var data = ev.dataTransfer.getData("text");
        var height = $(document.getElementById(data)).height();
        $(ev.target).closest(".kbc-board-list").before("<div id='kbcCurrent' class='panel panel-default kbc-board-list' style='height:" + height + "px;background-color: silver;'>coucou</div>");
        hasCurrent = true;
    } 
}
</script>
<script type="text/ng-template" id="temp1.html">
   ... some template stuff
</script>
<div ng-controller="IndexCtrl as index" ng-init="index.init()" class="kbc-board"  ondragover="replaceIcon(event)">
    <h4><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Tableaux personnels</h4>
    <div class="container-fluid">
        <div style="width: 350px; height: 500px;border: 1px solid black;float:left" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="panel1" class="panel panel-default kbc-board-list" draggable="true" ondragstart="drag(event)" ondragover="replace(event)"
                ondragend="leave(event)">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel heading without title</div>
                        <div class="panel-body">
                            COucou 1
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel3" class="panel panel-default kbc-board-list" draggable="true" ondragstart="drag(event)" ondragover="replace(event)"
                ondragend="leave(event)">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel heading without title</div>
                        <div class="panel-body">
                            COucou 2
                        </div>
                    </div>
                </div>
            </div>
            <div id="" class="panel panel-default kbc-board-list" style="height:400px" draggable="false" ondragstart="drag(event)"
                ondragover="replace(event)" ondragend="leave(event)">

            </div>
        </div>
        <div class="kbclist" style="width: 350px; height: 500px;border: 1px solid black;float:left" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="panel5" class="panel panel-default kbc-board-list" draggable="false" ondragstart="drag(event)" ondragover="replace(event)"
                ondragend="leave(event)">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel heading without title</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
            <div id="" class="panel panel-default kbc-board-list" style="height:400px" draggable="false" ondragstart="drag(event)"
                ondragover="replace(event)" ondragend="leave(event)">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>