@{ ViewData["Title"] = "Coucou"; ViewData["container-type"] = "container-fluid"; }
<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    .kbclist {
        width: 350px;
        height: 800px;
        float: left;
        cursor: pointer;

    }
    .noselect
    {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    
    }
    body{
        background-color: rgba(0, 121, 191, 0.62);;

    }
    .panel {
        margin-bottom: 6px;
        border-bottom: 1px solid #ccc;
        border-radius: 3px;
    }
    .kbclist-content
    {
        padding: 4px;
    

    }
    .kbc-add-card:hover
    {
        background-color: #CDD2D4;
       border-bottom-left-radius:  3px;
          border-bottom-right-radius : 3px;
    }
    .kbc-list-card
    {
        background-color: rgb(226, 228, 230);
        border-radius: 3px;
        margin: 4px;
    }
    .kbc-list-title
    {
        color: #4d4d4d;
        font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
        line-height: 12px;
        margin: 7px;
        font-weight: bold;
        padding-top: 8px;
       
    }
    .kbclist-content {}
    
    .current-selected {}
</style>
<script>

var mouseX, mouseY;
var tempX = 0;
var tempY = 0;
var id = null;

function targetElement(height, classValue)
{
    return "<div id='kbcCurrent' class=' panel panel-default kbc-board-list " + classValue + "' style='height:" + height + "px;background-color: silver;'>&nbsp;</div>";
}
function allowDrop(ev) {
    ev.preventDefault();
    if ($(ev.target).closest(".kbclist-content").size() == 0) {
        var data = ev.dataTransfer.getData("text");

        var height = $(document.getElementById(data)).height();
        if ($(ev.target).closest(".kbclist").children(".kbclist-content").children(".kbc-board-list-bottom").size() == 0)
        {
            $("#kbcCurrent").remove();
            $(ev.target).closest(".kbclist").children(".kbclist-content").append(targetElement(height, "kbc-board-list-bottom"));
        }
    }
}
function replaceIcon(ev){
    var id = ev.dataTransfer.getData("text");
     
    if(id) {
        $(document.getElementById(id)).css("position","fixed");
        $(document.getElementById(id)).css("top", ev.pageY - $(window).scrollTop() + "px");
        $(document.getElementById(id)).css("left",ev.pageX + "px");
    }
}
function drag(ev) {   
    ev.dataTransfer.setData("text", ev.target.id);
    var data = ev.dataTransfer.getData("text");
    var height = $(document.getElementById(data)).height();
    $(ev.target).css("position","fixed");
    $(ev.target).before(targetElement(height));
    ev.dataTransfer.setDragImage(new Image(), 10, 10);   
}
function leave(ev) {
    $("#kbcCurrent").remove();
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("position","static");
}
function drop(ev) { 
    currentReplace = -1;
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    $(document.getElementById(data)).css("position","static");
    $("#kbcCurrent").replaceWith(document.getElementById(data));
}
var currentReplace = -1;
var neFaitRien = false;
function replace(ev) {
    
    if (neFaitRien)
        return;
    neFaitRien = true;
    setTimeout(function(){ neFaitRien = false }, 200);

    var data = ev.dataTransfer.getData("text");         
    var targetBoardItem = $(ev.target).closest(".kbc-board-list");
    var height = $(document.getElementById(data)).height();

    if ($(ev.target).closest(".kbclist-content").children("#kbcCurrent").size() > 0)
    {
        // When there are a placeholder in the list, you use this for replace the sibling target
    
        if ($(targetBoardItem).prevAll().size() > $("#kbcCurrent").prevAll().size())
        {
            $("#kbcCurrent").replaceWith(targetBoardItem);

            $(targetBoardItem).after(targetElement(height));
        }
        else
        {
            $("#kbcCurrent").replaceWith(targetBoardItem);
            $(targetBoardItem).before(targetElement(height));
        }
    }
    else
    {
        // When there are not placeholder in the target list

        $("#kbcCurrent").remove();
        var height = $(document.getElementById(data)).height();
        $(ev.target).closest(".kbc-board-list").before(targetElement(height));
    }
}
</script>

<div ng-controller="BoardCtrl as board">
    <div board>
        <div class="kbclist" ng-repeat="boardList in board.boardLists" board-list new-position-fn="board.changePosition(position)">
            <div class="kbc-list-card">
                <div class="kbc-list-title">
                    {{ boardList.title }}
                </div>
                <div class="kbclist-content">
                    <div id="panel{{boardItem.id}}" class="panel panel-default kbc-board-list" ng-repeat="boardItem in boardList.items" board-item
                        board-item-move="moveItem" board-index="$index">
                        <div class="panel-body">
                            {{ boardItem.title }}
                        </div>
                    </div>
                </div>
                <div class="kbc-add-card">
                    Ajouter une carte...
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>