@model KbcList.Models.Users.LoginModel 
@{ Layout = "_Layout"; }
<div class="kbc-start kbc-login">
  <h1 class="kbc-start-title">Se connecter à Kanban Core</h1>
  <div class="text-danger" asp-validation-summary="All"></div>
  <form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
      <label asp-for="Email" class="kbc-start-label"></label>
      <input asp-for="Email" class="form-control kbc-start-control" />
    </div>
    <div class="form-group">
      <label asp-for="Password" class="kbc-start-label"></label>
      <input asp-for="Password" class="form-control kbc-start-control" type="password" />
    </div>
    <button class="btn btn-primary btn-lg kbc-start-submit" type="submit">Connexion</button>
  </form>
</div>