@{
    Layout = "_Layout";
}

<div class="kbc-start" style="width: 500px;margin: 0 auto;position:relative;text-align: center">
    <div style="text-align: center;margin-top:30px">
  <span class="glyphicon glyphicon-th" aria-hidden="true" style="font-size: 100px;color:#337ab7"> </span>
 <h1>  KbcList est gratuit, souple et c'est un moyen visuel d'organiser ce que vous voulez avec qui vous voulez.</h1>

</div>
Laissez tomber les longs échanges par e-mail, les tableurs obsolètes, les notes adhésives qui se décollent et les logiciels compliqués pour gérer vos projets. KbcList vous permet de voir votre projet dans son ensemble en un clin d'œil. 
<br/><br/>
<a type="button" class="btn btn-success btn-lg kbc-start-submit" asp-controller="Users" asp-action="Create">Inscrivez-vous, c'est gratuit</a>
<br/><br/><a asp-action="Login" asp-controller="Users">Connectez-vous</a>
</div>