@{
    Layout = "_Layout";
}
<div style="text-align: center;margin-top:30px">
  <span class="glyphicon glyphicon-th" aria-hidden="true" style="font-size: 100px;color:#337ab7"> </span>
 <h1>  KbcList est gratuit, souple et c'est un moyen visuel d'organiser ce que vous voulez avec qui vous voulez.</h1>

</div>
<div style="width: 500px;margin: 0 auto;position:relative;text-align: center">
Laissez tomber les longs échanges par e-mail, les tableurs obsolètes, les notes adhésives qui se décollent et les logiciels compliqués pour gérer vos projets. Trello vous permet de voir votre projet dans son ensemble en un clin d'œil. 
<br/><br/>
<button type="button" class="btn btn-success btn-lg">Inscrivez-vous, c'est gratuit</button>
<a asp-action="Login" asp-controller=""></a>
</div>